<?xml version="1.0" encoding="UTF-8"?>
<web-app>

    <servlet>
        <servlet-name>ClickCountServlet</servlet-name>
        <servlet-class>ClickCountServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>ClickCountServlet</servlet-name>
        <url-pattern>/clickcount</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>UserManagerServlet</servlet-name>
        <servlet-class>UserManagerServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>UserManagerServlet</servlet-name>
        <url-pattern>/usermanage</url-pattern>
    </servlet-mapping>
</web-app>
