body {
    background: bottom fixed url("../res/image/about.jpg");
    background-size: 100%;
}
a {
    text-decoration: none;
    color: black;
}
#main-frame {
    position: absolute;
    top: 3rem;
    left: 50%;
    transform: translate(-50%, 0);
    width: 70rem;
    height: max-content;
    min-height: 100%;
    background-color: transparent;
}
#about-me {
    height: 15rem;
}
#main-frame img {
    width: 15rem;
    float: left;
}
#about-me div {
    float: left;
    width: 40rem;
    height: 100%;
    margin-left: 6rem;
    text-align: left;
    font-size: 1.2rem;
    overflow: hidden;
    /*color: #484848;*/
}
#about-site {
    height: 25rem;
}
#about-site div {
    float: left;
    margin-left: 5rem;
    text-align: left;
}
#about-site pre {
    float: left;
    padding-top: 7rem;
    text-align: left;
}
#cyan {
    position: relative;
    top: 1.3rem;
    left: 5.2rem;
    height: 1rem;
    width: 1rem;
    background-color: #00cccc;
}