a {
    color: black;
    text-decoration: none;
}
body {
    background: bottom no-repeat fixed url("../res/image/about.jpg");
    background-size: 100% 100%;
}
#main-frame {
    position: absolute;
    top: -3.2rem;
    left: 50%;
    transform: translateX(-50%);
    height: max-content;
    min-height: 120%;
    width: 60rem;
    border-radius: 0px;
    background: rgba(245, 245, 245, 0.9);
}
#thin-frame {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width: 50rem;
    height: max-content;
    min-height: 100%;
    padding: 4rem 2.4rem 0 0;
    /*background: wheat;*/
}
#editor-card textarea {
    margin-left: 5rem;
    width: 50rem;
    height: 15rem;
    background: whitesmoke;
    resize: vertical;
    border-radius: 5px;
}
.guest-info {
    /* |<-- 60 -->| */
    /* |5|14|4|14|4|14|5| */
    width: 14rem;
    height: 1.5rem;
    padding: 0;
    border-radius: 2px;
}
#nickname {
    /* 20rem width */
    margin: 1rem 0 1rem 5rem;
}
#email {
    margin: 1rem 0 1rem 4rem;
}
#website {
    margin: 1rem 0 1rem 4rem;
}
hr {
    border: none;
    border-bottom:1px solid #aaaaaa;
    margin: 2rem 0 1rem 0;
    height: 2px;
    width: 100%;
}
.comment-submit {
    /* top, right, bottom, left*/
    margin: 0 0 1rem 50rem;
    height: 2rem;
    width: 5rem;
    text-align: center;
    line-height: 2rem;
    font-size: 1.2rem;
    background: #00cccc;
    border-radius: 1rem;
}
.comment-card {
    position: relative;
    margin: 2rem 0 0 auto;
    padding: 1rem 0;
    font-family: sans-serif;
    /*
    when set the width or height to a specific percentage,
    the width of a relative elements is the percentage of the content of its parent element
    however, that of an absolute is the percentage of the (content + padding) of its parent element
    (w - r) * p = w - 2 * r  -->  r = (1 - p) * w / (2 - p)
    */
    width: 95%;
    min-width: 30rem;
}
.comment-card textarea {
    width: 100%;
    height: 10rem;
}
.auther {
    font-size: 1.5rem;
}
.created-time {
    margin-left: 2rem;
    font-size: 1rem;
    color: #666666;
}
.reply-btn {
    float: right;
    height: 1.5rem;
    margin: 0.5rem 0.5rem;
    font-size: 1rem;
    color: whitesmoke;
    background: #00cccc;
    border-radius: 0.5rem;
}
.website {
    font-size: 1rem;
    color: #666666;
}
.comment-body {
    word-break: break-all;
    margin-top: 0.5rem;
    font-size: 1rem;
}
.reply-text {
    width: 100%;
    resize: vertical;
}
.reply-area {
    display: none;
}

#page-btn-frame {
    /* why 14rem?
    thin-frame width: 50rem;
    page-btn-frame width: 22rem;
    (50-22)/2=14 to make it center
    */
    height: max-content;
    width: max-content;
    margin: 2rem auto;
    text-align: center;
}
.prev-next {
    height: 1.5rem;
    width: 6rem;
    margin: 0 1rem;
}
.page-btn, .dot-btn {
    display: none;
    height: 1.5rem;
    width: 2rem;
    margin: 0 0.5rem;
}