a {
    color: black;
    text-decoration: none;
}
body {
    background-size: 100% 100%;
    background-repeat: repeat-y;
    background-attachment: fixed;
    background-position: bottom;
}
#class-selector {
    position: absolute;
    left: 10rem;
}
#class-selector select {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
#class-select {
    position: absolute;
    top: 50%;
    right: 25rem;
    transform: translateY(-50%);
    border: none;
}
#submit {
    position: absolute;
    top: 50%;
    right: 18rem;
    transform: translateY(-50%);
    border: none;
    background: #FFFFFF;
}
#title {
    position: absolute;
    right: 2rem;
    height: 2rem;
    width: 50%;
    top: 50%;
    left: 10rem;
    transform: translate(0, -50%);
}
#editor {
    position: absolute;
    left: 50%;
    top: 3rem;
    transform: translate(-50%);
    opacity: 90%;
}