#title {
    position: absolute;
    top: 3rem;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 40rem;
    height: 2rem;
    font-size: 1rem;
    color: rgb(81, 58, 82);
    letter-spacing: 1px;
    outline: rgb(81, 58, 82);
    background: transparent;
}

#editor {
    position: absolute;
    left: 50%;
    top: 10%;
    transform: translate(-50%);
}