a {
    text-decoration: none;
}
body {
    background: url(/res/image/debian.jpg);
    background-size: 100% 100%;
    background-repeat: repeat-y;
    background-attachment: fixed;
    background-position: bottom;
}
#upload {
    position: absolute;
    width: 60rem;
    height: 4rem;
    left: 45%;
    z-index: 200;
}
#title {
    position: relative;
    top: 1rem;
    left: 0rem;
    transform: translate(-50%, 0);
    width: 40rem;
    height: 2rem;
    font-size: 1rem;
    color: rgb(81, 58, 82);
    letter-spacing: 1px;
    outline: rgb(81, 58, 82);
    background: rgba(237, 216, 238, 0.85);
}
#submit {
    position: relative;
    top: 1rem;
    left: 28rem;
    transform: translate(-50%, 0);
    width: 5rem;
    height: 2.5rem;
    font-size: 1rem;
    float: left;
    background: rgba(237, 216, 238, 0.85);
}
#editor {
    position: absolute;
    left: 50%;
    top: 4rem;
    transform: translate(-50%);
    opacity: 90%;
}