body {
    height:100%;
    width: 100%;
}
a {
    color: black;
    text-decoration: none;
}

#main-frame {
    margin-left: auto;
    margin-right: auto;
    margin-top: 3rem;
    width: 60%;
    height: 100%;
    background: #00a8c6;
}
#left-frame {
    float: left;
    width: 20%;
    height: 100%;
    margin: 1rem 0;
}
#right-frame {
    float: right;
    width: 80%;
    height: 100%;
    margin: 1rem 0;
}

.item-container {
    height: 5rem;
    border-bottom: 0.1rem solid gray;
    border-left: 0.1rem solid gray;
    border-right: 0.1rem solid gray;
}

.manager-button {
    /* background: transparent; */
    padding: 1rem 0.5rem;
    border: none;
    height: 100%;
    width: 100%;
}

.add-class-btn {
    background: transparent;
    border: none;
}

.class-container {
    height: 3rem;
    padding: 2px 16px;
}
.class-name {
    float: left;
    margin: 0.5rem 0;
}
.class-count {
    float: left;
    margin: 0.5rem 1rem;
}
.class-delete {
    float: right;
    margin: 0.5rem 0;
    background: transparent;
    border: none;
}