body {
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
    background: url(/res/image/assistant.jpg);
    background-attachment: fixed;
    background-size: 100% 100%;
    background-repeat: repeat;
}
.box {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    /*实现块元素百分比下居中*/
    width: 30rem;
    height: 35rem;
    padding: 50px;
    #background: rgba(0, 0, 0, .8);
    background-color: rgba(81, 58, 82, .85);
    box-sizing: border-box;
    box-shadow: 0px 15px 25px rgba(0, 0, 0, .5);
    border-radius: 15px;
}
.box h2 {
    margin: 0 0 30px;
    padding: 0;
    color: #fff;
    text-align: center;
}
.box .inputbox {
    position: relative;
}
.box .inputbox input {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    letter-spacing: 1px;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;
}
.box .inputbox label {
    position: absolute;
    top: 0px;
    left: 0px;
    padding: 10px 0;
    font-size: 1rem;
    color: #fff;
    pointer-events: none;
    transition: .5s;
}
.box .inputbox input:focus ~ label,
.box .inputbox input:valid ~ label
{
    top: -18px;
    left: 0;
    color: #03a9f4;
    font-size: .85rem;
}
.box input[type="button"]
{
    background: transparent;
    border: none;
    outline: none;
    font-size: 1rem;
    color: #fff;
    background: #03a9f4;
    padding: 13px 20px;
    cursor: pointer;
    border-radius: 10px;
    position: absolute;
    top: 80%;
    left: 38%;
}