a {
    color: black;
    text-decoration: none;
}
body {
    background: bottom fixed url("../res/image/bkgrd.jpg");
}
#center-frame {
    position: absolute;
    top: 3rem;
    left: 50%;
    transform: translateX(-50%);
    width: 60%;
    height: max-content;
    margin: 0 auto;
    /*background: #f4efef;*/

    background-color: rgba(244, 239, 239, 0.9);
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}
#title {
    text-align: left;
    font-size: 3rem;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-top: -0.5rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 3rem;
    /* background-color: rgba(226, 226, 226, 1); */
}
#msg {
    position: relative;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding-left: 3rem;
    padding-right: 5rem;
    padding-top: 1rem;
    height: 1rem;
}
hr {
    color: rgba(200, 200, 200, 1);
    margin-bottom: 5rem;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}
#time {
    margin-left: 2rem;
}
#update, #delete {
    position: relative;
    top: -0.1rem;
    width: 4rem;
    height: 1.2rem;
    font-size: 0.8rem;
    float: left;
    color: rgba(97, 97, 97, 0.9);
    border: none;
    background: transparent;
}
#update, #delete:hover {
    color: rgba(0, 0, 0, 0.9);
}